In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("chipotle.tsv",sep="\t")

In [4]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [11]:
df['item_price']=df['item_price'].str.replace('$',"",regex=False).astype(float)

In [14]:
df_sorted=df.sort_values(by="item_price",ascending=False)
print(df_sorted.head())

      order_id  quantity                     item_name  \
3598      1443        15  Chips and Fresh Tomato Salsa
3480      1398         3                 Carnitas Bowl
1254       511         4               Chicken Burrito
3602      1443         4               Chicken Burrito
3601      1443         3                Veggie Burrito

                                     choice_description  item_price
3598                                                NaN       44.25
3480  [Roasted Chili Corn Salsa, [Fajita Vegetables,...       35.25
1254  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       35.00
3602  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...       35.00
3601  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       33.75

In [15]:
item=df[df["item_name"].str.contains("chicken",case=False)]
print(item)

      order_id  quantity             item_name  \
4            2         2          Chicken Bowl
5            3         1          Chicken Bowl
11           6         1  Chicken Crispy Tacos
12           6         1    Chicken Soft Tacos
13           7         1          Chicken Bowl
...        ...       ...                   ...
4604      1828         1          Chicken Bowl
4615      1832         1    Chicken Soft Tacos
4619      1834         1    Chicken Salad Bowl
4620      1834         1    Chicken Salad Bowl
4621      1834         1    Chicken Salad Bowl

                                     choice_description  item_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...        8.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
...                                                 ...         ...
4604  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...        8.75
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]        8.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[1560 rows x 5 columns]

In [17]:
df['choice_description']=df['choice_description'].str.replace(r"[\[\]]","",regex=True)
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",16.98

In [18]:
print(df.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [19]:
print(df['item_price'].dtype)

float64